[flake8]
# Делаем длину строки как у Black
max-line-length = 88

# Игнорируем конфликтующие правила
# E203: пробел перед ':' (Black его ставит в срезах, Flake8 считает ошибкой)
# W503: перенос строки перед бинарным оператором (Black переносит так, Flake8 хочет после)
extend-ignore = E203, W503, B008

# Не проверяем мусор и чужой код
exclude =
    .git,
    __pycache__,
    .venv,
    alembic/versions
