services:
  app:
    build: .
    volumes:
      - ./application:/application/application
      - ./alembic:/application/alembic
      - ./static:/application/static
      - ./alembic.ini:/application/alembic.ini
      - ./main.py:/application/main.py
      - ./pytest.ini:/application/pytest.ini
      - ./requirement.txt:/application/requirement.txt
      - ./tests:/application/tests

    ports:
      - "8000:8000"

    env_file:
      - .env

    depends_on:
      db:
        condition: service_healthy

    restart: on-failure

    networks:
      - app-network

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    ports:
      - "5432:5432"

    volumes:
      - db-data:/var/lib/postgresql



    command:
      [
        "postgres",
        "-c", "log_destination=stderr",
        "-c", "logging_collector=on",
        "-c", "log_directory=/var/log/postgresql"
      ]
    networks:
      - app-network

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s


networks:
  app-network:
    driver: bridge


volumes:
  db-data:
