name: CI

on: [push, pull_request]

jobs:
  lint-and-typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # ваша версия

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirement.txt
          pip install -r requirements-dev.txt


      - name: Run Black
        run: black --check .

      - name: Run Isort
        run: isort --check-only --diff --profile black .

      - name: Run Flake8
        run: flake8 . --max-line-length=88

      - name: Run Mypy
        run: mypy .

      - name: Test with pytest
        env:
          DATABASE_URL_DOCKER: postgresql+asyncpg://slava_t:1989_slava_t@db_test:5432/test_db

        run: pytest
